Repository rhyanalmeida/acewebdesigners: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss,html,json,md}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

chore: remove broken husky pre-commit hook
  .husky/pre-commit
Due: none

refactor(ui): add 6 DRY primitives — FinalCta, LandingFooter, StaggerGrid, SectionHeading, Input, PageHero
  src/components/ui/FinalCta.tsx
  src/components/ui/Input.tsx
  src/components/ui/LandingFooter.tsx
  src/components/ui/PageHero.tsx
  src/components/ui/SectionHeading.tsx
  src/components/ui/StaggerGrid.tsx
  src/components/ui/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

refactor(pages): apply DRY primitives to home/services/contact (Phase 2 / Unit 2)
  src/Contact.tsx
  src/Services.tsx
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

refactor(pages): apply DRY primitives to about/work/reviews (Phase 2 / Unit 3)
  src/AboutUs.tsx
  src/Reviews.tsx
  src/Work.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

refactor(pages): apply DRY primitives to landings + refer (Phase 2 / Unit 4)
  src/Landing.tsx
  src/LandingContractors.tsx
  src/Refer.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

chore(tests): refresh unit test suite (Phase 2 / Unit 5)
  package-lock.json
  package.json
  src/components/__tests__/App.test.tsx
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(theme): editorial cream foundation — Fraunces + warm palette (Phase 3 / Unit 1)
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write

feat(ui): add 5 editorial trust/conversion primitives (Phase 3 / Unit 2)
  src/components/ui/LiveProof.tsx
  src/components/ui/PhoneCta.tsx
  src/components/ui/PriceCard.tsx
  src/components/ui/TestimonialEditorial.tsx
  src/components/ui/TrustStack.tsx
  src/components/ui/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

refactor(ui): editorial cream restyling across primitives (Phase 3 / Unit 3)
  src/components/layout/SiteFooter.tsx
  src/components/layout/SiteHeader.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Eyebrow.tsx
  src/components/ui/FinalCta.tsx
  src/components/ui/GradientHeading.tsx
  src/components/ui/IconTile.tsx
  src/components/ui/LandingFooter.tsx
  src/components/ui/PageHero.tsx
  src/components/ui/Section.tsx
  src/components/ui/SectionHeading.tsx
  src/components/ui/TrustBar.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(home): editorial cream hero + prominent pricing + trust polish (Phase 3 / Unit 4)
  src/components/__tests__/App.test.tsx
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(about, reviews): editorial overhaul + Google Reviews widget on Reviews (Phase 3 / Unit 5)
  src/AboutUs.tsx
  src/Reviews.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(work): editorial portfolio — asymmetric 2-col with mono metadata + result tags (Phase 3 / Unit 6)
  src/Work.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(services, contact): editorial pricing + warm Contact + BadgePill cream tones (Phase 3 / Unit 7)
  src/Contact.tsx
  src/Services.tsx
  src/components/ui/BadgePill.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(refer): editorial cream restyle with full form preservation (Phase 3 / Unit 8)
  src/Refer.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(landing): editorial cream conversion pages with full pixel/CAPI preservation (Phase 3 / Unit 9)
  src/Landing.tsx
  src/LandingContractors.tsx
  src/components/landing/BookingSection.tsx
  src/components/landing/FreeDesignBenefits.tsx
  src/components/landing/LandingExamples.tsx
  src/components/landing/LandingFaq.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/ProcessSteps.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

test: add PriceCard regression test for prominent home pricing (Phase 3 / Unit 10)
  src/components/__tests__/App.test.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(landing): scroll-to-booking actually scrolls + remove false LiveProof claim
  src/components/landing/BookingSection.tsx
  src/components/landing/LandingHero.tsx
  src/components/ui/LiveProof.tsx
  src/components/ui/Section.tsx
  src/components/ui/index.ts
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(pricing): show monthly hosting under each website tier (+$15/$30/$45)
  src/Services.tsx
  src/components/ui/PriceCard.tsx
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(social-media): new Social Media page + combo bundle deal (/socialmedia)
  src/App.tsx
  src/SocialMedia.tsx
  src/components/layout/SiteFooter.tsx
  src/components/layout/SiteHeader.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(contractor-landing): compact pricing strip before booking
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

test: cover Social Media nav link, /socialmedia route, monthly hosting labels
  src/components/__tests__/App.test.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(social-media): add \$20K proof + client account links, trim two features
  src/SocialMedia.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(home, social): rotating industry text + tighter hero margin + client name fixes
  src/SocialMedia.tsx
  src/components/ui/RotatingText.tsx
  src/components/ui/index.ts
  src/index.css
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(social-media): add Told History as flagship client (21k+ followers, TikTok + YouTube)
  src/SocialMedia.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(work): add Told History as flagship E-commerce project
  src/Work.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(motion): site-wide micro-animations + honest homepage stats
  package-lock.json
  package.json
  src/AboutUs.tsx
  src/App.tsx
  src/Refer.tsx
  src/components/landing/LandingHero.tsx
  src/components/layout/MobileStickyCta.tsx
  src/components/layout/SiteFooter.tsx
  src/components/layout/SiteHeader.tsx
  src/components/ui/AnimatedRule.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/CursorHalo.tsx
  src/components/ui/GradientHeading.tsx
  src/components/ui/HandUnderline.tsx
  src/components/ui/IconTile.tsx
  src/components/ui/Input.tsx
  src/components/ui/Magnetic.tsx
  src/components/ui/PageHero.tsx
  src/components/ui/SplitText.tsx
  src/components/ui/StatBlock.tsx
  src/components/ui/index.ts
  src/index.css
  src/lib/motion.ts
  src/pages/Home.tsx
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(routing,seo): detect every route + consolidate /privacypolicy + SPA pageview
  src/App.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(seo+polish): strip fake reviews, breadcrumbs, fresh sitemap, ink contrast
  index.html
  package-lock.json
  package.json
  public/_redirects
  public/sitemap.xml
  scripts/build-sitemap.mjs
  src/AboutUs.tsx
  src/Contact.tsx
  src/Landing.tsx
  src/LandingContractors.tsx
  src/PrivacyPolicy.tsx
  src/PrivacyPolicyPage.tsx
  src/Refer.tsx
  src/Reviews.tsx
  src/Services.tsx
  src/SocialMedia.tsx
  src/TermsOfService.tsx
  src/Work.tsx
  src/components/ui/Button.tsx
  src/components/ui/StickyConversionBar.tsx
  src/seo/SeoMeta.tsx
  src/seo/index.ts
  src/seo/jsonLd.ts
  src/seo/routeMeta.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(meta-ads): enhanced conversion userData + phone-click signal + cookie notice
  netlify/functions/ghl-capi.ts
  src/components/ui/CookieNotice.tsx
  src/components/ui/PhoneCta.tsx
  src/components/ui/index.ts
  src/utils/pixelTracking.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

chore(tooling): production audit harness + Meta ads runbook
  docs/META_ADS.md
  scripts/audit-production.mjs
Due: prettier --write

chore: bundle in-flight content + landing components needed for the build
  POST_BOOKING_SEQUENCE.md
  README.md
  public/logo.png
  public/robots.txt
  public/site.webmanifest
  src/components/__tests__/App.test.tsx
  src/components/landing/BookingSection.tsx
  src/components/landing/ComparisonTable.tsx
  src/components/landing/LandingFaq.tsx
  src/components/landing/LandingHero.tsx
  src/components/landing/ProcessSteps.tsx
  src/components/landing/TrustStrip.tsx
  src/components/landing/WebsiteSocialCombo.tsx
  src/components/landing/index.ts
  src/components/layout/SiteFooter.tsx
  src/components/layout/SiteHeader.tsx
  src/components/ui/LandingFooter.tsx
  src/components/ui/Logo.tsx
  src/components/ui/PageHero.tsx
  src/components/ui/TrustStack.tsx
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(seo): remove static head meta tags that duplicate Helmet's per-route ones
  index.html
Due: prettier --write

fix(meta): contractor pixel = 4230021860577001, drop dead Calendly, CSP+diagnostics
  docs/META_ADS.md
  docs/contractor-ad-creative.md
  index.html
  netlify/functions/ghl-capi.ts
  scripts/meta-ads-setup.mjs
  scripts/test-booking-flow.mjs
  src/LandingContractors.tsx
  src/components/BookingWidget.tsx
  src/config/pixels.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

chore(tooling): headed-Chromium scripts to verify Netlify env + GHL pixel
  scripts/verify-ghl-pixel.mjs
  scripts/verify-netlify-env.mjs
Due: none

fix(meta): main-landing event_id dedup, webhook auth warning, dead-code sweep
  docs/META_ADS.md
  index.html
  netlify/functions/ghl-capi.ts
  scripts/open-verification-browser.mjs
  src/Landing.tsx
  src/config.ts
  src/config/calendars.ts
  src/types/facebook.d.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

audit(02): verify production deploy state
  audit/02-deploy-state.md
Due: prettier --write

audit(09): facebook ad campaign status
  audit/09-campaign-status.md
Due: prettier --write

audit(10): verify production CSP
  audit/10-prod-csp.md
Due: prettier --write

fix(meta): BookingWidget detects GHL array-format msgsndr-booking-complete
  src/components/BookingWidget.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'
