Repository rhyanalmeida/acewebdesigners: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss,html,json,md}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run type-check'"
  ]
}

ci: run vitest + tsc on PRs and master pushes
  .github/workflows/test.yml
Due: none

feat(meta): runtime canary if BookingWidget matcher goes stale
  src/components/BookingWidget.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

audit(meta): static check GHL custom field IDs
  audit/B7-ghl-field-ids.md
Due: prettier --write

docs(meta): GHL postMessage shapes + re-verify runbook
  docs/META_ADS.md
Due: prettier --write

feat(admin): tabbed dashboard (Overview/Website/Social) + setup warnings; book test mode
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  supabase/functions/_shared/ghl.ts
  supabase/functions/admin-data/index.ts
  supabase/functions/book/index.ts
  supabase/functions/ghl-webhook/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(capi): use action_source 'website' for whole funnel (visible in Website Test Events + consistent attribution)
  supabase/functions/_shared/meta.ts
  supabase/functions/result/index.ts
  supabase/functions/stripe-webhook/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(capi): keep CompleteRegistration + Purchase as offline (system_generated)
  supabase/functions/_shared/meta.ts
  supabase/functions/result/index.ts
  supabase/functions/stripe-webhook/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(admin): email + password login (magic-link kept as fallback)
  src/admin/AdminDashboard.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(capi): prove + surface offline conversion verification
  CLAUDE.md
  package.json
  public/sitemap.xml
  scripts/prove-offline-capi.mjs
  scripts/verify-offline-capi.mjs
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  supabase/functions/admin-data/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(capi): harden all server events + surface them fully in /admin
  CLAUDE.md
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  supabase/functions/_shared/identity.ts
  supabase/functions/_shared/meta.ts
  supabase/functions/admin-data/index.ts
  supabase/functions/book/index.ts
  supabase/functions/capi/index.ts
  supabase/functions/result/index.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/0003_is_test.sql
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(funnel): split Lead (gate form) from Schedule (booking) + durable attribution
  CLAUDE.md
  scripts/capi-log-summary.ps1
  scripts/e2e-funnel-test.ps1
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  src/components/scheduler/Scheduler.tsx
  src/utils/attribution.ts
  src/utils/pixelTracking.ts
  supabase/config.toml
  supabase/functions/_shared/attribution.ts
  supabase/functions/_shared/contacts.ts
  supabase/functions/_shared/meta.ts
  supabase/functions/admin-data/index.ts
  supabase/functions/book/index.ts
  supabase/functions/lead/index.ts
  supabase/migrations/0004_contact_attribution.sql
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

chore(ui): remove cookie consent popup site-wide
  src/App.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(landing): remove pricing from contractor page for higher conversion
  src/LandingContractors.tsx
  src/components/landing/WebsiteSocialCombo.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(admin): send Stripe payment link from appointments
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(admin): auto-text Stripe payment link to client via GHL
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  supabase/functions/_shared/ghl.ts
  supabase/functions/create-checkout/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat(admin): Customer Overview + Conversion Log tabs, contractor/main badge
  .gitignore
  CALENDAR_TESTING_GUIDE.md
  CLAUDE.md
  docs/META_ADS.md
  docs/ci-investigation.md
  docs/contractor-ad-creative.md
  docs/deploy.md
  docs/security-audit.md
  index.html
  public/sitemap.xml
  scripts/build-sitemap.mjs
  scripts/meta-ads-status.mjs
  src/App.tsx
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  src/components/scheduler/Scheduler.tsx
  src/config/pixels.ts
  src/hooks/useLocalStorage.ts
  src/seo/routeMeta.ts
  src/utils/monitoring.ts
  src/utils/pixelTracking.ts
  supabase/.env.example
  supabase/functions/_shared/attribution.ts
  supabase/functions/_shared/availability.ts
  supabase/functions/_shared/identity.ts
  supabase/functions/_shared/meta.ts
  supabase/functions/admin-data/index.ts
  supabase/functions/book/index.ts
  supabase/functions/lead/index.ts
  supabase/functions/result/index.ts
  supabase/functions/stripe-webhook/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

chore: commit restaurant funnel source + keeper scripts, clean session artifacts
  .gitignore
  scripts/clean-booking.mjs
  scripts/funnel-admin.mjs
  scripts/funnel-verify.mjs
  scripts/ghl-setup-custom-fields.mjs
  src/BuildYourSite.tsx
  src/components/builder/RestaurantWizard.tsx
  src/config/restaurantPlans.ts
  supabase/functions/create-subscription/index.ts
  supabase/functions/generate-copy/index.ts
  supabase/migrations/0005_no_overlap.sql
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(admin): 7-day window for failure warnings, scrollable tab bar
  src/admin/AdminDashboard.tsx
  supabase/functions/admin-data/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: required business name/type on booking + auto-generated preview website per booking
  public/sitemap.xml
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  src/components/scheduler/Scheduler.tsx
  supabase/.env.example
  supabase/functions/_shared/contacts.ts
  supabase/functions/_shared/ghl.ts
  supabase/functions/_shared/netlify.ts
  supabase/functions/admin-data/index.ts
  supabase/functions/book/index.ts
  supabase/functions/generate-site/index.ts
  supabase/functions/lead/index.ts
  supabase/functions/result/index.ts
  supabase/migrations/0006_business_and_preview_site.sql
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

docs: CLAUDE.md status for booking business fields + auto preview websites
  CLAUDE.md
Due: prettier --write

feat: site-queue fn + hourly Claude routine builds preview sites (subscription path)
  CLAUDE.md
  supabase/functions/book/index.ts
  supabase/functions/site-queue/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(admin): site Retry re-queues for the hourly routine; stall threshold 2h
  src/admin/AdminDashboard.tsx
  src/admin/adminApi.ts
  supabase/functions/admin-data/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: local hourly preview-site builder (Claude Code headless + Task Scheduler)
  scripts/preview-site-builder-prompt.md
  scripts/run-preview-builder.ps1
Due: prettier --write

fix: pipe builder prompt via stdin (arg passing truncated it at embedded quotes)
  CLAUDE.md
  scripts/run-preview-builder.ps1
Due: prettier --write

feat(site-queue): creds action serves current Netlify token to the cloud routine
  CLAUDE.md
  supabase/functions/site-queue/index.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

chore: commit live production code (working tree was ahead of master)
  .gitignore
  CLAUDE.md
  docs/FUNNEL_AUDIT_2026-07-20.md
  eslint.config.js
  index.html
  public/sitemap.xml
  src/LandingContractors.tsx
  src/components/landing/BookingSection.tsx
  src/components/scheduler/Scheduler.tsx
  src/utils/attribution.ts
  supabase/functions/_shared/availability.ts
  supabase/functions/_shared/designSystems.ts
  supabase/functions/_shared/ghl.ts
  supabase/functions/generate-site/index.ts
  supabase/functions/result/index.ts
  supabase/migrations/0007_design_systems.sql
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(funnel): recover lost Lead conversions, move booking form above cross-sell
  docs/FUNNEL_AUDIT_2026-07-20.md
  docs/META_ADS.md
  src/LandingContractors.tsx
  src/components/scheduler/Scheduler.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

docs: record funnel audit execution status and creative evidence
  docs/FUNNEL_AUDIT_2026-07-20.md
  docs/contractor-ad-creative.md
Due: prettier --write

docs(claude): record account-wide Audience Network block and current funnel priorities
  CLAUDE.md
Due: prettier --write

docs: compare the 2025 campaign that worked against the current contractor funnel
  docs/FUNNEL_AUDIT_2026-07-20.md
Due: prettier --write

docs(creative): the proven 2025 creative is one we already own
  docs/contractor-ad-creative.md
Due: prettier --write

docs(creative): transcribe both ad scripts and diagnose the 9x gap
  docs/contractor-ad-creative.md
Due: prettier --write

docs(creative): correct a wrong claim about the current ad's audience callout
  docs/contractor-ad-creative.md
Due: prettier --write

docs(creative): add the script to record
  docs/contractor-ad-creative.md
Due: prettier --write

docs(creative): all 11 ad comments are from web developers, not contractors
  docs/contractor-ad-creative.md
Due: prettier --write

docs: credibility plan responding to the 'AI slop' ad comments
  docs/CREDIBILITY_PLAN_2026-07-20.md
Due: prettier --write

docs: capture the 6 real Google reviews to replace fabricated testimonials
  docs/REAL_TESTIMONIALS.md
Due: prettier --write

fix: remove all fabricated testimonials, stats and metrics
  index.html
  src/AboutUs.tsx
  src/LandingContractors.tsx
  src/Reviews.tsx
  src/components/landing/LandingExamples.tsx
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

docs: redesign plan + real client screenshots
  docs/REDESIGN_PLAN_2026-07-20.md
  public/work/champona.webp
  public/work/chess.webp
  public/work/conuco.webp
  public/work/dunn.webp
  public/work/hotpot.webp
  public/work/olivers.webp
  public/work/told.webp
Due: prettier --write
