Repository rhyanalmeida/acewebdesigners: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'npm run type-check'

Fix SPA redirects - restore working site
  public/_redirects
Due: none

Restore contractor landing page to use React app routing
  public/_redirects
  public/contractorlanding.html
Due: prettier --write

Add conditional Facebook Pixel loading for contractor landing page
  index.html
Due: prettier --write

Remove restrictive CSP headers to fix site blocking issue
  netlify.toml
Due: none

Enhanced Calendly CompleteRegistration tracking for contractor page - Added page-specific pixel ID detection (1403049141348706 for contractors) and differentiated event parameters
  index.html
Due: prettier --write

Updated contractor page Facebook Pixel ID to 1560349761941814 for CompleteRegistration tracking
  index.html
Due: prettier --write

Corrected contractor page Facebook Pixel ID to 1403049141348706
  index.html
Due: prettier --write

Updated contractor page Facebook Pixel ID to 1357182892280101
  index.html
Due: prettier --write

Fix Calendly widget loading and implement separate Facebook Pixels for landing pages
  public/contractorlanding.html
  src/Landing.tsx
  src/LandingContractors.tsx
  src/index.css
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Fix contractor landing page route - use React component instead of static HTML
  public/_redirects
Due: none

Remove static contractorlanding.html to allow React component to render
  public/contractorlanding.html
Due: prettier --write

Replace Calendly with LeadConnector booking widget on landing pages
  index.html
  src/Landing.tsx
  src/LandingContractors.tsx
  src/index.css
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Replace contractor Facebook Pixel with GHL tracking pixel
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Add comprehensive GHL event tracking and debugging for Meta Events Manager
  src/Landing.tsx
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Update contractor landing pixel to 4230021860577001 - remove all old pixel traces
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Add Privacy Policy and Terms of Service to contractor landing page footer
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Add dedicated Privacy Policy and Terms of Service pages with routes
  src/App.tsx
  src/PrivacyPolicyPage.tsx
  src/TermsOfService.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Add Facebook Conversions API (offline conversions) for reliable tracking
  netlify.toml
  src/Landing.tsx
  src/LandingContractors.tsx
  src/utils/facebookConversions.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Add GHL webhook integration with Facebook Conversions API
  GHL_WEBHOOK_SETUP.md
  netlify.toml
  netlify/functions/ghl-webhook.ts
  package.json
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Fix CSP: Add wildcard domains for LeadConnector/GHL widget resources
  index.html
Due: prettier --write

Update LeadConnector iframe to latest version (ID: 1768499231909)
  src/Landing.tsx
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Intensive calendar widget testing and optimization - ensure proper display
  CALENDAR_TESTING_GUIDE.md
  src/Landing.tsx
  src/LandingContractors.tsx
  src/index.css
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Fix Netlify build: Update typescript-eslint to v8.41.0, remove unused webhook
  GHL_WEBHOOK_SETUP.md
  netlify.toml
  netlify/functions/ghl-webhook.ts
  package.json
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Add @formspree/react dependency for Refer page form
  package.json
Due: prettier --write

Update contractor landing page to new Facebook Pixel ID: 1548487516424971
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Update SMS consent language for A2P compliance across all pages
  src/LandingContractors.tsx
  src/PrivacyPolicyPage.tsx
  src/TermsOfService.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Update phone numbers and booking widget for A2P compliance
  index.html
  src/AboutUs.tsx
  src/App.tsx
  src/Contact.tsx
  src/Landing.tsx
  src/LandingContractors.tsx
  src/PrivacyPolicy.tsx
  src/PrivacyPolicyPage.tsx
  src/Refer.tsx
  src/TermsOfService.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Improve booking widget functionality, security, and code organization
  package-lock.json
  src/Landing.tsx
  src/LandingContractors.tsx
  src/components/BookingWidget.tsx
  src/config/calendars.ts
  src/config/pixels.ts
  src/types/facebook.d.ts
  src/utils/facebookConversions.ts
  src/utils/pixelTracking.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Fix CI/CD pipeline and booking widget display issue
  .github/workflows/ci.yml
  src/Landing.tsx
  src/components/BookingWidget.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: remove invalid preload hints for source files in index.html
  index.html
Due: prettier --write

fix: increase booking widget height and enable scrolling
  src/components/BookingWidget.tsx
  src/config/calendars.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Revert "fix: increase booking widget height and enable scrolling"
  src/components/BookingWidget.tsx
  src/config/calendars.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: improve mobile booking widget scroll and loading behavior
  src/LandingContractors.tsx
  src/components/BookingWidget.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: hide mobile sticky CTA bar on contractor landing page to prevent navigation conflict
  src/App.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: add same-day website launch messaging to contractor landing page
  src/LandingContractors.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: move Meta CAPI server-side with event_id dedup for contractor landing
  index.html
  netlify.toml
  netlify/functions/ghl-capi.ts
  src/LandingContractors.tsx
  src/components/BookingWidget.tsx
  src/types/facebook.d.ts
  src/utils/attribution.ts
  src/utils/pixelTracking.ts
  tsconfig.functions.json
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix(netlify): pin Node 22 to match local build env
  netlify.toml
Due: none

docs(ci): investigate Netlify remote build failure
  docs/ci-investigation.md
Due: prettier --write

chore: codebase hardening + deploy reliability fix
  .gitignore
  .netlify/functions-internal/emails/index.js
  .netlify/functions/emails.zip
  .netlify/functions/manifest.json
  .netlify/netlify.toml
  .netlify/plugins/package-lock.json
  .netlify/plugins/package.json
  Ace Web Designers Website/.netlify/functions-internal/emails/index.js
  Ace Web Designers Website/.netlify/functions/emails.zip
  Ace Web Designers Website/.netlify/functions/manifest.json
  Ace Web Designers Website/.netlify/netlify.toml
  Ace Web Designers Website/.netlify/plugins/package-lock.json
  Ace Web Designers Website/.netlify/plugins/package.json
  Ace Web Designers Website/index.html
  Ace Web Designers Website/src/App.tsx
  Ace Web Designers Website/src/Refer.tsx
  docs/contractor-ad-creative.md
  docs/deploy.md
  docs/security-audit.md
  netlify/functions/attribution-stash.ts
  netlify/functions/ghl-capi.ts
  package-lock.json
  package.json
  scripts/browser-attach.mjs
  scripts/browser-launch.mjs
  scripts/ghl-automate.mjs
  scripts/ghl-update-webhooks-v2.mjs
  scripts/meta-ads-create-ad.mjs
  scripts/meta-ads-setup.mjs
  scripts/meta-ads-status.mjs
  src/Contact.tsx
  src/Landing.tsx
  src/components/BookingWidget.tsx
  src/config/calendars.ts
  src/types/facebook.d.ts
  src/utils/attribution.ts
  src/utils/facebookConversions.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html,json,md})
  bash -c 'npm run type-check': any of: *.{ts,tsx}
